<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@401&display=swap');
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block title %}
        Silver Scream Theater
      {% endblock %}
    </title>
    <link href="https://bootswatch.com/5/darkly/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <a class="navbar-brand fontmain" href="{% url 'home' %}">Silver Scream Theater</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link fontmain" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fontmain" href="{% url 'showtimes' %}">Showtimes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fontmain" href="{% url 'coming_soon' %}">Coming Soon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fontmain" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      <ul class="navbar-nav ms-auto">
    {% if user.is_authenticated %}
        <li class="nav-item">
        <div class="navbar-text fontmain">Hello, {{ user.first_name }}!</div>
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary fontmain">Logout</button>
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link fontmain" href="{% url 'login_register' %}">
                <button type="button" class="btn btn-secondary">Log in/Sign Up</button>
            </a>
        </li>
    {% endif %}
      </ul>
      </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>

  </body>
</html>